DATABASE_URL=localhost:5432/db
DATABASE_PASSWORD=your-db-pass
DATABASE_USERNAME=your-db-user
FIREBASE_CONFIG_PATH=classpath:firebase-service-account.json
FIREBASE_PROJECT_ID=your-firebase-proj-id
FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket
PORT=8080